
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "HSE Sans";
}
.nav-link{
    color:rgb(19, 15, 105);
    font-family: 'HSE Sans';
    font-style: normal;
    font-weight: 400;
}
.nav-item{
    color:rgb(19, 15, 105);
    font-family: 'HSE Sans';
    font-style: normal;
    font-weight: 400;
}
.btn btn-outline-dark my-2 my-sm-0{
    color:rgb(19, 15, 105);
    font-family: 'HSE Sans';
    font-style: normal;
}
.btn-primary:hover {
    color: #212529;
    background-color: #52bebe;
    border-color: #8ad3d3
}

.form-control {
    resize: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    background-image: url("/static/images/icons8-календарь-24.svg");
}
